<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Start With What Matters to Young Adults</h2>
                <hr class="light">
                <p class="text-faded">Tech is so much more than coding. And coding isn't for everyone. A coding program is a not just relatively niche; it's also something that is under serious threat from AI, and junior programmer positions are the most at risk.</p>
                <h4>So What To Do?</h4>
                    <p>If your school is offering STEM programs with a coding focus, the answer is, start with the thing that around the world, everywhere, <b>isn't</b> niche, that young people put first and foremost…</p>
                <a href="games.html" class="btn btn-default btn-xl">Discover Our Secret Ingredient!</a>
            </div>
        </div>
    </div>
</section>
