<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Start With What Matters to Young Adults</h2>
                <hr class="light">
                <p class="text-faded">Tech is so much more than coding. And coding isn't for everyone. To include and engage Grade 10 and 11's start with the tech they start with</p>
                <a href="#" class="btn btn-default btn-xl">Games</a>
            </div>
        </div>
    </div>
</section>
