<header>
    <div class="header-content">
        <video width="100%" autoplay="autoplay" loop muted>
            <source src="https://avm-video.s3.ap-southeast-2.amazonaws.com/girlsInClass.mp4" type="video/mp4" />
        </video>
        <div class="header-content-inner">
            <h1>AVM : Apptessence Video Mentor</h1>
            <hr>
            <p>We accelerate and engage students' curiosity about tech with a powerful, unique pedagogical approach reflecing more than 25 years of tech education innovation.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
