<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">An Elegant, Effective <b>New</b> Approach to Tech Learning.</h2>
                <hr class="primary">
      
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3><a href = "curriculum.html">Student-Centric Curriculum</a></h3>
                    <p class="text-muted">Critical viewing and thinking is at the core of our collaborative, discovery-based curriculum.</p>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><a href="social.html">Social Learing</a> </h3>
                    <p class="text-muted">Students interact constantly: engaged, exploring and excited to learn. The Screen Zombie is dead! </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><a href="avm.html">Bespoke Tools Take Students Further</a></h3>
                    <p class="text-muted">To deliver our video-driven, challenge-focused curriculum, we developed a unique sofware system called AVM.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><a href="environments.html">Simple, But Effective Learning Environments</a></h3>
                    <p class="text-muted">25+ years of bootcamp development have taught us how simple innovations supercharge student engagement and interdependence.</p>
                </div>
            </div>
        </div>
    </div>
</section>
