<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nobody Has Thought Through Tech Learning the Way We Have…</h2>
                <h2 class="section-heading">…Never Mind Offering Such an Elegant, Effective System.</h2>
                <hr class="primary">
      
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Student-centric curriculum</h3>
                    <p class="text-muted">Powerful pair and team learning starts with a crafted curriculum that encourages critical thinking, viewing and collaboration.</p>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Bespoke Learning Managent Tools</h3>
                    <p class="text-muted">To deliver our video-driven, challenge-focused curriculum, we developed a unique sofware system called AVM.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Social Learing</h3>
                    <p class="text-muted">Shared workstations and constant peer-teaching are field-proven effective in breaking the screen-zombie of most tech classes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Effective Learning Environments</h3>
                    <p class="text-muted">25+ years of bootcamp development have taught us how simple innovations supercharge student engagement and interdependence.</p>
                </div>
            </div>
        </div>
    </div>
</section>
